<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--Use title if it's in the YAML frontmatter-->
<title><%= (current_page.data.page_title || data.site.title).titleize %> | <%= data.site.name %> </title>
<meta content="<%= current_page.data.description || data.site.description %>" name="description" />